@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@500&family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

*{
    font-family: 'Playfair Display', serif;
    /* or ont-family: "Garamond", "Georgia", serif; */
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}


header{
    position: sticky;
    top: 0px;
}
.navbar{
    background-color: #122620;
    width: 100%;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    background-image: url(logo2.svg);
    width: 60px;
    height: 60px;
    background-size: cover;
    margin-left:1rem;
}

.search{
    height:45px;
    width:600px;
    border-radius:20px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #D6AD60;
    color: #D6AD60;
    
}

.searchbar{
    height: 100%;
    width:90%;
    font-size: 20px;
    border: none;
    color: #D6AD60;
    border-right: 1px solid #D6AD60;
    background-color: transparent;
    outline: none;
    padding-left: 0.2rem;
}

.searchbar::placeholder{
    color: #D6AD60;
    padding-left: 0.2rem;
}

.select{
    height: 100%;
    width:10%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    font-size:20px;
    border: none;
    color: #D6AD60;
    border-right: 1px solid #D6AD60;
    background-color: transparent;
}

.searchicon{
    height:100%;
    width:10%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D6AD60;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.account{
    height: 40px;
    width:40px;
    font-size: 40px;
    color: #D6AD60;
    margin-right:1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* navbar-2 */
.navbar-2{
    background-color: #203c34;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.option{
    height: 95%;
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    color:#F4EBD0;
    font-size: 20px;
    margin: clamp(0.5rem, 2vw, 3rem);
    flex-shrink: 1;
}



.design{
    background-image: url("design.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width:200px;
    flex-shrink: 1;
    min-width: 0;
}

@media screen and (max-width: 600px) {
    .navbar-2{
        flex-direction: column;
        height: fit-content;
    }
    header{
        position: static;
    }
    
}
/* /* .home{
    margin-left: 1.5rem;
} */

.option:hover{
    background-color: #F4EBD0;
    color:#203c34;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
}

/* .design{
    background-image: url("design.svg");
    height: 100%;
    width:200px;
} */ 

.content{
    background-color: #5a6663;
    height:100%;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 20px;
}



.hero{
    
    background-image: url("hero/1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height:500px;
    animation: herochange 20s infinite step-end;

}


@keyframes herochange {
    0%   { background-image: url("hero3/1.png"); }
    16%  { background-image: url("hero3/2.png"); } /* Hold for 5s */
    32%  { background-image: url("hero3/3.png"); }
    48%  { background-image: url("hero3/4.png"); } /* Hold for 5s */
    64%  { background-image: url("hero3/5.png"); }
    80%  { background-image: url("hero3/6.png"); }

}

@media screen and (max-width: 600px)
{
    .hero{
        height: 0px;
    }
    
}

.herodetails{
    color: #F4EBD0;
    height:fit-content;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-family: 'Cinzel Decorative', serif;

}

h1{
    border-bottom: 10px solid;
    border-image-source: url('border.svg');
    border-image-slice: 30;
    border-image-repeat: round; /* Options: stretch, repeat, round */
    border-image-width: 10px;
    padding: 10px;
    text-align: center;
    color: #D6AD60;
}

.contentbest{
    width: 100%;
    margin-top: 50px;

}

.bestfood{
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;

}

.bestfooddetails{
    width: 50%;
    color: #F4EBD0;
    font-size: 1.7vw;
}

.bestfoodimage{
    width: 40vw;
    height: 30vw;
    
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
}












footer{
    border-top: 10px solid;
    border-image-source: url('border.svg');
    border-image-slice: 30;
    border-image-repeat: round; /* Options: stretch, repeat, round */
    border-image-width: 10px;
    background-color: #203c34;
}

.foot1{
    height: 200px;
    
}

.foot1{
    /* background-color: #222f3d; */
    color:white;
    background-color: #203c34;
    height:300px;
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding:20px;
}

ul{
    margin-top:20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

ul i{
    margin-right: 4px;
}
.foot2{
    background-color: #122620;
    color: #D6AD60;
    font-family: 'Cinzel Decorative', serif;
    padding:20px;
    text-align: center;

}