@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
.menucontent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menubox{
    width: 25vw;
    height: 25vw;
    border:2px solid black;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #F4EBD0;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 30px;
}

.menupic{
    width: 90%;
    height: 90%;
    background-size: cover;
    border-radius: 50%;
    animation: rotate 40s ease infinite;
    margin-left: 21px;
}


@keyframes rotate {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

header{
    z-index: 1000;
}

.menuname{
    width: 100%;
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
    font-size: 2vw;
    font-weight: 700;
    color: black;
}

.menubox:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}